.style {
    width: 1280px;
    margin: 0 auto;
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
}

.line-title {
    color: #16a085;
    font-size: 18px;
    margin: 0 5px;
    text-decoration: none;
}

.line-jump {
    width: 1200px;
    list-style-type: none;
    display: inline;
    margin: 20px;
}

.text-stile {
    color: #16a085;
    font-size: 16px;
}

.font-size {
    font-size: 18px;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.img {
    width: 100%;
}

.footer {
    width: 1200px;
    margin: 0 auto;
}

.content {
    text-align: right;
    margin-top: 60px;
}

.style {
    background: #f5f6f7;
    text-align: center;
}

.top-row {
    color: #16a085;
    font-size: 1px;
    margin: 0 10px;
}
